  <div class="container">
    <div class="boxLeft">
    <h2>About Me</h2>
      <div>
        <img src="https://t4.ftcdn.net/jpg/02/85/47/79/160_F_285477972_b50EsctBnGeBtCsYDGT3UcrBHXk9xmQP.jpg">
        <h2 class="name">Joseph Yehulugeta</h2>
        <h4><i>Front-End Developer</i></h4>
      </div>
        <p>Front End Web Developer with Full Stack capability.My favorite languages are Python and JavaScript. Currently a student at Seattle Central through YearUp. I'm enrolled in the Software Development Engineer in Test track. Broadening my skills to be more valuable, currently strengthing my Front End skills by utilizing the React Framework. I'm very excited to break into the tech industry, bringing diversity and my unique contributions to the field. I have the ability to learn quickly, I only need good support or a mentor. I enjoy working out, walking my dog, and utilizing technology!</p>
    </div> 
    <div class="boxRight">
      <h1> Projects</h1>
      <div>
        <h2>SCC Lifestyle APP</h2>
        <p>Worked on a collaborative project with classmates to build an Angular Seattle Central Lifestyle webapp.</p>
        <div class="projects">
          <a href="https://github.com/Scc-lifestyle-org/scc-lifestyle-app"><img src="https://dotnettricks.blob.core.windows.net/img/angular/angular-anga&q1.png" height="100px" width="100px"> </a>
        </div>
        <p>My primary responsiblities as an owner of the repo was the Landing page and repo management</p>
      </div>
      <div>
        <h2>MEAN Tutorial</h2>
        <p>Built a tutorial on how to build a MEAN stack application on a local Machine as well as on a Virtual Machine using Google Cloud</p>
        <div class="projects">
          <img src="https://static.cronj.com/img/mean-stack/hire-mean-stack-developers.png" height="100px">
        </div>
      </div>
    </div>    

  </div>    



